::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #121212;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 8px;
}

body {
    height: 100%;
    width: 100%;
    max-width: 320px;
    background-color: #121212;
    color: white;
    font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, Helvetica Neue, helvetica, arial, Hiragino Kaku Gothic Pro, Meiryo, MS Gothic, sans-serif;
    margin: 0;
}

.content {
    padding: 0 8px;
    margin: 12px 0;
}

h1 {
    margin-bottom: 8px;
    margin-top: 0;
}

h2 {
    margin: 0;
}

.track {
    padding: 4px 0;
}

.track_item {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.track_item_text {
    width: 100%;
    font-weight: 400;
    font-size: 0.78rem;
    color: #bf94ff;
}

.track_artist {
    color: #b3b3b3;
    font-size: 0.75rem;
    text-decoration: none;
}

.track_play_time {
    color: white;
    font-size: 0.75rem;
}

.content_footer {
    color: #b3b3b3;
    font-size: 0.6rem;
    line-height: 12px;
}

.content_footer a {
    color: #bf94ff;
}
